body,div,span{
  padding:0px;
  margin:0px;
}
div {
    color: black;
}
.mine{
  width:100%;
  height:100vh;
}
.my-info {
  background-color:#ff99cc;
  width:20%;
  height:25%;
  text-align: center;
  .head-image{
    width:120px;
    height:120px;
    border-radius: 50%;
  }
}
.my-friends{
  width:20%;
  height:75%;
  margin-top:4px;
  background-color:#ccccff;
  .one-friend{
    width:90%;
    margin:0 auto;
    padding:5px 10px;
    margin-bottom:5px;
    background-color:#cc99ff;
    text-align: center;
    img{
      width:40px;
      height:40px;
      border-radius: 50%;
      vertical-align: middle;
    }
    span{
      display:inline-block;
      margin-left:15px;
      vertical-align: middle;
    }
  }
}